<div class="container ">

    <div class="row">

        <h1>Welcome in simple-angular-catalog Application</h1>

        Build an interactive user directory<br> Create an interface that allows a user to view user data (sample data is attached). The interface should allow a visitor to browse a list of names and then select an item to view more information. Goal
        <br>
        <br> To determine your development proficiency and creativity when creating a solution to a problem from the ground up.<br> Output Requirements<br>
        <br> A single, HTML page with no server side logic (all state must be managed by JS)<br> The sample data must be fetched using Javascript (i.e. to simulate an API)<br> The page must be styled beyond what is provided by simply a CSS framework (if
        you are using one). Eg. If you are using Bootstrap, we shouldnt be able to tell visually that it is Bootstrap.<br> Use package managers for any front end dependencies you may need<br> The page must employ URI routing to allow deep linking to users
        and provide resiliency to page refreshes<br> A Readme file should be included with instructions on how to install and view the project.<br> Browser requirements:<br> Chrome latest<br> IE9
        <br> iOS 8 / iPhone 6S<br> Android 5 / Galaxy s6<br> Additional features you may consider:<br>
        <br> Search
        <br> Google map to show address location<br> View state transition/animation<br> Notes
        <br>
        <br> Prioritise clarity over cleverness<br> Ensure your JS and CSS is organised and clear<br> You can use any frameworks of your choosing, however, ensure you can justify your decisions<br> Delivery
        <br> Your code should be delivered as a zip file via email<br> Your zip package should contain all code, assets and installation instructions (if needed) in order to download packages.<br>





    </div>
</div>