:root {
    --contentTextColor: #333;
    --text: grey;
    --bgColor: whitesmoke;
    --padding: 6px;
}

html * {
    font-family: Verdana !important;
    color: var(--text);
}

nav {
    color: white !important;
}

.sac-button-sort {
    padding: var(--padding);
    border: none;
    background-color: var(--bgColor);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
}

.sac-button-list {
    padding: var(--padding);
    background-color: var(--bgColor);
    border: none;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.sac-button-nav {
    padding: 1px;
    background-color: #212121;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
}

.sac-button-nav a {
    color: white;
}

.sac-search {
    padding: var(--padding);
    background-color: var(--bgColor);
    border: 1px solid gray;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sac-panel {
    padding: var(--padding);
    margin-top: 58px;
    background-color: white;
    border: 1px solid gray;
}

.sac-view-text {
    margin: 14px;
    padding: var(--padding);
    background-color: white;
    border: 1px solid black;
}

.sac-view-address {
    font-size: 16;
    margin: 14px;
    padding: var(--padding);
    background-color: var(--bgColor);
    border: 1px solid lightgrey;
}

.sac-red {
    color: green;
}


/* The starting CSS styles for the enter animation */

main.ng-enter {
    transition: 0.5s linear all;
    opacity: 0;
}


/* The finishing CSS styles for the enter animation */

main.ng-enter.ng-enter-active {
    opacity: 1;
}